{{! File name: newApplication.hbs }}
<h1>Hệ thống quản lý xét cấp học bổng - Quỹ học bổng Thắp Sáng Niềm Tin</h1>

<p>Hồ sơ học bổng của bạn đã được đăng ký thành công trên hệ thống quản lý xét
  cấp học bổng - Quỹ học bổng Thắp Sáng Niềm Tin.</p>

<p>Bạn có thể xem lại thông tin và trạng thái hồ sơ tại link bên dưới:</p>

<p><a href='{{url}}'>{{url}}</a></p>

<p>Trân trọng,</p>
<p>Đội ngũ quản trị</p>