<h1>Hệ thống quản lý xét cấp học bổng - Quỹ học bổng Thắp Sáng Niềm Tin</h1>

<p>Xin chào, email của bạn đã được đăng ký tài khoản trên hệ thống quản lý xét
  cấp học bổng - Quỹ học bổng Thắp Sáng Niềm Tin.</p>

<p>Dưới đây là thông tin tài khoản mới của bạn:</p>

<p>Tên đăng nhập: <b>{{username}}</b></p>
<p>Mật khẩu: <b>{{password}}</b></p>

<p>Hãy sử dụng thông tin trên để đăng nhập vào hệ thống, qua đường dẫn:</p>

<p><a href='{{url}}'>{{url}}</a></p>

<p>Bạn có thể thay đổi mật khẩu sau khi đăng nhập vào hệ thống.</p>

<p>Trân trọng,</p>
<p>Đội ngũ quản trị</p>