<h1>Hệ thống quản lý xét cấp học bổng - Quỹ học bổng Thắp Sáng Niềm Tin</h1>

<p>Xin chào,</p>

<p>Chúc mừng! Bạn đã trúng tuyển học bổng từ Quỹ Học Bổng Thắp Sáng Niềm Tin.</p>

<p>Bạn có thể truy cập vào hệ thống qua đường dẫn:</p>

<p><a href='{{url}}'>{{url}}</a></p>

<p>Chúng tôi rất mong rằng học bổng này sẽ giúp bạn tiếp tục thành công trong
  hành trình học tập của mình.</p>

<p>Trân trọng,</p>
<p><b>Quỹ Học Bổng Thắp Sáng Niềm Tin</b></p>