<h1>Hệ thống quản lý xét cấp học bổng - Quỹ học bổng Thắp Sáng Niềm Tin</h1>

<p>Xin chào,</p>

<p>Chúng tôi xin thông báo rằng đáng tiếc bạn không trúng tuyển học bổng từ Quỹ
  Học Bổng Thắp Sáng Niềm Tin cho kỳ học bổng năm
  {{year}}.</p>

<p>Chúng tôi rất biết ơn sự quan tâm và nỗ lực của bạn trong việc nộp đơn xin
  học bổng.</p>

<p>Chúng tôi xin gửi lời chúc tốt đẹp nhất đến bạn trong hành trình học tập và
  sự nghiệp của mình.</p>

<p>Trân trọng,</p>
<p><b>Quỹ Học Bổng Thắp Sáng Niềm Tin</b></p>